body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}
/*--- navigation bar ---*/
.navbar {
  background:#b9936c;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #c4b7a6;
}
.navbar-collapse {
  justify-content: flex-end;
}

/*- - - Background image and overlay (inherritance) - - -*/
.header {
  background-position: center;
  position: relative;
}

%head {
  background-size: cover;
}
.home {
	@extend %head;
	background-image: url('https://pbs.twimg.com/media/EEogNjwUwAATlN7?format=jpg&name=4096x4096');
}
.about {
	@extend %head;
	background-image: url('https://pbs.twimg.com/media/EM_aMUjUwAAOEP4?format=jpg&name=4096x4096');

}
.contact {
	@extend %head;
	background-image: url('https://pbs.twimg.com/media/EF1VjdsUcAAkKoT?format=jpg&name=4096x4096');
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}
.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
/* text and header setting */
.description h1 {
  color: #c4b7a6 ;
}
.description h2 {
	color: #c4b7a6 ;
  }
.description p {
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.5;
}
/*table and list settings*/
td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.container{
	text-align: center;
}

/*Other image classes*/
.img-circle {
    border-radius: 50%;
}
/*Bottom row of images and misc*/
.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}
.iframe-container {
  overflow: hidden;
  padding-top: 0.7;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 80%;
   left: 0;
   position: relative;
   top: 0;
   width: 80%;
}
/*Nesting speficially for about.html*/
div {
	text-align: center;
	h3 {
		font-size: 16 px;
	}
	table {
		width: 75%
	}

}



/*@media specific setting for mobile sites*/
@media (max-width: 575.98px) {
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
    text-align: center;
  }
  
  .description h2 {
	color: #c4b7a6 ;
    font-size: 2em;
  }
  
  .description p {
    font-size: 1.2rem;
  }
  
  .features {
    margin: 0;
  }
}